.jumbotron {
    background-color: blue;
    background-image: url("https://www.myfavoritetoys.com/autism_include/faces/12.jpg");
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: contain; */
    color: white;
}

.tableheading {
    background-color: blue;
    margin: 0 auto;
    font-size: 24px;
    padding: 10px;
    color: white;
}

.allcard {
    border: 3px solid blue;
}

h2 {
    font-weight: bold;
}


